* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.card {
    width: calc(100% / 6 - 2rem);


    img {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h5 {
        text-align: start;
        margin-top: 1rem;
    }

}
