@use './variables' as *;
@use './mixins' as *;

main {
    background-color: #1c1c1c;
    padding: 2rem 0;
    color: #fff;

    .container {
        text-align: center;
        position: relative;


        .current-series {
            position: absolute;
            top: -3rem;
            left: 0;
            cursor: default;
        }

        .cards {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }
}
